.bookshelfDiv {
    padding: 20px;
  }
  
  .formDiv {
    margin-bottom: 20px;
  }
  
  .bookCardsDiv {
    display: flex;
    flex-direction: column;
  }
  
  .bookCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }